{{ define "title" }}<title>Contact - Christine Dodrill</title>{{ end }}

{{ define "content" }}
<h1>Contact Information</h1>
<div class="grid">
  <div class="cell -6of12">
    <h3>Email</h3>
    <p>aniketchopade@gmail.com</p>

    <h3>Social Media</h3>
    <ul>
      <li><a href="https://github.com/aniketchopade">Github</a></li>
      <li><a href="https://twitter.com/aniketchopade">Twitter</a></li>
      <li><a href="https://stackoverflow.com/users/7134161/aniket-chopade">StackOverflow</a></li>
    </ul>
  </div>
</div>
{{ end }}
